@model List<SocialMedia>

@{
    ViewData["Title"] = "SocialMediaList";
    Layout = "~/Views/Layout/Index.cshtml";
}

<<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Sosyal Medya</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Sosyal Medya Hesapları Listesi</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Sosyal Medya ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                        </div>
                        <div class="card-body">
                            <table class="table table-head-bg-success">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Title</th>
                                        <th scope="col">Url</th>
                                        <th scope="col">Icon</th>
                                        <th scope="col"><Güncelle</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@item.SocialMediaId</td>
                                            <td>@item.Title</td>
                                            <td>@item.Url</td>
                                            <td>@item.Icon</td>
                                        </tr>
                                    }


                                </tbody>
                            </table>

                        </div>
                    </div>
