<div class="sidebar">
    <div class="scrollbar-inner sidebar-wrapper">
        <div class="user">
            <div class="photo">
                <img src="~/Ready-Bootstrap-Dashboard-master/assets/img/profile.jpg">
            </div>
            <div class="info">
                <a class="" data-toggle="collapse" href="#collapseExample" aria-expanded="true">
                    <span>
                        İpek Nur Öztürk
                        <span class="user-level">Admin</span>
                        <span class="caret"></span>
                    </span>
                </a>
               

            </div>
        </div>
        <ul class="nav">

            <li class="nav-item">
                <a href="/Default/Index/">
                    <i class="la la-home"></i>
                    <p>Siteye Git</p>

                </a>
            </li>
            <li class="nav-item">
                <a href="/About/AboutList">
                    <i class="la la-table"></i>
                    <p>Hakkımda</p>

                </a>
            </li>
            <li class="nav-item">
                <a href="/ToDoList/Index/">
                    <i class="
la la-list"></i>
                    <p>Yapılacaklar</p>

                </a>
            </li>
            <li class="nav-item">
                <a href="/Experience/ExperienceList/">
                    <i class="la la-apple"></i>
                    <p>Deneyimler</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Feature/FeatureList/">
                    <i class="
la la-windows"></i>
                    <p>Öne Çıkan Alan</p>
                </a>
            </li>
            <li class="nav-item">
            <a href="/Portfolıo/PortfolıoList/">
                <i class="
la la-user"></i>
                <p>Portfolyo</p>
            </a>
            </li>

            <li class="nav-item">
                <a href="/Contact/ContactList/">
                    <i class="
la la-phone"></i>
                    <p>İletişim Bilgileri</p>
                </a>
            </li>

            <li class="nav-item">
                <a href="/Skill/SkillList">
                    <i class="la la-fonticons"></i>
                    <p>Yeteneklerim</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Testimonial/TestimonialList/">
                    <i class="
la la-user-plus"></i>
                    <p>Referanslarım</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/SocialMedia/SocialMediaList/">
                    <i class="
la la-link"></i>
                    <p>Sosyal Medya</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Message/Inbox/">
                    <i class="la la-envelope-o"></i>
                    <p>Gelen Kutusu</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="/Statistic/Index/">
                    <i class="la la-bar-chart"></i>
                    <p>İstatistikler</p>
                </a>
            </li>
            
        </ul>
    </div>
</div>
