@{

    Layout = null;
}
<!DOCTYPE html>

<html class="no-js" lang="en">


@await Component.InvokeAsync("_HeadComponentPartial") <!--bu kısımda _headcomponentPartial içinde ki defaulta eklediigmizi belirttik -->

<body id="top">

   

    @await Component.InvokeAsync("_NavbarComponentPartial")
    
    @await Component.InvokeAsync("_FeatureComponentPartial")
   
    @await Component.InvokeAsync("_AboutComponentPartial")
    
    @await Component.InvokeAsync("_PortfolıoComponentPartial")

    
    @await Component.InvokeAsync("_TestimonialComponentPartial")

   
    @await Component.InvokeAsync("_StatisticComponentPartial")
    
    @await Component.InvokeAsync("_ContactComponentPartial")
   
	
    @await Component.InvokeAsync("_FooterComponentPartial")

    

</body>

</
