

@model Feature

@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/Layout/Index.cshtml";
}


<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Öne Çıkan AlanI</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Öne Çıkan Alan Ekleme Sayfası</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <label>Başlıkk</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Detay</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
                            
                            <button class="btn btn-primary">Öne Çıkan Alanı Ekle</button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>