<section id="stats" class="s-stats" style="background: #f5f5f5;">
    <!-- Arka plan rengi eklendi -->
    <div class="row block-1-4 block-tab-1-2 block-mob-full stats">
        <div class="col-block stats__col">
            <div class="stats__count">
                6
            </div>
            <h4>Sertifikalar</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                2
            </div>
            <h4>Referanslarım</h4>
        </div>
        <div class="col-block stats__col stats__col--highlight">
            <div class="stats__upsign">
                <a href="#"><i class="im im-arrow-up" aria-hidden="true"></i></a>
            </div>
            <div class="stats__count">
                14
            </div>
            <h4>Proje Sayısı</h4>
        </div>
        <div class="col-block stats__col">
            <div class="stats__count">
                8
            </div>
            <h4>Yeteneklerim</h4>
        </div>
    </div>
</section>

<style>
    /* Eski stil yapısını koruyarak video etkisini kaldırma */
    .s-stats {
        position: relative;
        background: #f5f5f5 !important; /* Video varsa ezecek */
        padding: 100px 0;
    }

        /* Video container varsa gizleme */
        .s-stats .video-background {
            display: none !important;
        }

   




</style>