
@model List<About>

@{
    ViewData["Title"] = "AboutList";
    Layout = "~/Views/Layout/Index.cshtml";
    int count = 0;
}
<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Hakkımda</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Hakkımda Sayfası</div>
                    </div>
                    <div class="card-body">
                        <div class="card-sub">
                            Hakkımda ile ilgili işlemleri aşağıdaki panelden yapabilirsiniz.
                        </div>
                        <table class="table mt-3">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Başlık</th>
                                    <th scope="col">Alt Başlık</th>
                                    <th scope="col">Detay</th>
                                    
                                    <th scope="col">Güncelle</th>

                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                        count++;

                                    <tr>
                                        <td>@count</td>
                                        <td>@item.Title</td>
                                        <td>@item.SubDescription</td>
                                        <td>@item.Details</td>
                                        

                                        
                                        <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-primary">Hakkımda Bilgisini Güncelle</a></td>

                                    </tr>

                                }

                            </tbody>
                        </table>
                        
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
